@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --text-capt: 11.1px;
  --text-bs: 13.3px;
  --text-bd: 16px;
  --text-bl: 18px;
  --text-h6: 19.2px;
  --text-h5: 23px;
  --text-h4: 27.6px;
  --text-h3: 33.2px;
  --text-h2: 39.8px;
  --text-h1: 47.8px;
  --text-capt-m: 8.9px;
  --text-bs-m: 10.7px;
  --text-bd-m: 12.8px;
  --text-bl-m: 14.4px;
  --text-h6-m: 15.4px;
  --text-h5-m: 18.4px;
  --text-h4-m: 22.1px;
  --text-h3-m: 26.5px;
  --text-h2-m: 31.8px;
  --text-h1-m: 38.2px;
  --color-cusblack: #1f1f21;
  --color-cuslightblack: #5f5e5e;
  --color-cusdarkgrey: #b9b9b9;
  --color-cusgrey: #f8fafb;
  --color-cuswhite: #ffffff;
  --color-danger: #a6192e;
  --color-caution: #ff9900;
  --color-success: #04b34f;
  --color-information: #0057b8;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

html {
  font-family: "Inter", sans-serif;
}

.input-box {
  @apply w-full h-10 md:h-12 px-3.75 text-bd-m md:text-bd bg-cuswhite border-2 border-none rounded-md outline-none focus:border-none focus:ring-2 focus:ring-cusblack text-cusblack placeholder:text-bd-m md:placeholder:text-bd placeholder:text-cusdarkgrey transition;
}

.label-input {
  @apply text-cuslightblack text-capt-m md:text-capt font-semibold tracking-wider;
}

.primary-button {
  @apply text-center text-cuswhite bg-cusblack hover:bg-cusblack/90 cursor-pointer transition;
}

.secondary-button {
  @apply text-center text-cusblack bg-cusdarkgrey/30 hover:bg-cusdarkgrey/50 cursor-pointer transition;
}

.outline-button {
  @apply text-center text-cusblack border border-cusdarkgrey hover:bg-cusgrey cursor-pointer transition;
}
